.title{
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 64px;
}
.menu1,.menu2,.menu3,.menu4{
    margin: auto;
    font-size: 24px;
    font-family: 'Linden Hill', serif;
    text-decoration:none;
    padding: 23px 35px 15px 35px;
}
.menu1{
    color: white;
    position: absolute;
    top: 0px;
    right: 368px;
}
.menu2{
    color: rgb(0, 0, 0);
    background-color: white;
    position: absolute;
    top: 0px;
    right: 250px;
}
.menu3{
    color: white;
    position: absolute;
    top: 0px;
    right: 117px;
}
.menu4{
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
}
.menu1:hover,.menu2:hover,.menu3:hover,.menu4:hover{
    font-weight: 500;
    text-decoration: underline;
}
.menu1:hover,.menu3:hover,.menu4:hover{
    background-color: #eee;
    color: black;
}
.logo{
    text-align: left;
    font-family: 'Cabin Sketch', cursive;
    font-size: 30px;
    color: white;
    position: absolute;
    top: -10px;
    left: 80px;
}
.logo_img{
    height: 46px;
    width: auto;
    padding: 12px;
}
html{
    overflow: auto;
}
body{
    overflow: hidden;
    margin: auto;
    height: 240vw;
    position: relative;
    top:70px;
}
main>div>div{
    width: 400px;
    height: 160px;
    border-radius: 50%;
    filter: blur(150px);
    background-color: rgb(63, 63, 63);
    position: relative;
}
.circle1{
    top: 150px;
    left: 25%;
    background-color: crimson;
}
.circle1,.circle2,.circle3{
    animation:anime 1.5s ease;
}
@keyframes anime{
    0%{
        opacity: 0;
        top: 200px;
    }
    100%{
        opacity:1;
        top:150px;
    }
}

.circle2{
    top: 50px;
    left: 45%;
}

.circle3{
    top: 500px;
    left: 25%;
}
.circle4{
    top: 400px;
    left: 25%;
}
.circle5{
    top: 500px;
    left: 45%;
}
.circle6{
    top: 600px;
    left: 25%;
}
.circle7{
    top: 500px;
    left: 25%;
}
.circle8{
    top:350px;
    left: 45%;
}
main>div{
    font-size: 2vw;
    color: white;
    text-align: center;
    font-family: 'Rock Salt', cursive;
}
.main2,.main3,.main4{
    position: relative;
    bottom: 400px;
}
.main1{
    position: relative;
    bottom: 180px;
    text-align: center;
}
.main2{
    right: 10%;
}
.main3{
    left: 10%;
}
.main4{
    right: 10%;
}
.link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.link:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.head-animation {
    transform: translateY(-100%);
}
#header {
    background-color: black;
    height: 70px;
    position: fixed;
    top: 0;
    transition: .3s cubic-bezier(.4, 0, .2, 1);
    width: 100%;
    z-index: 199999;
}
.bottom{
    background-color: #d6d6d6;
    position: absolute;
    bottom: 0px;
    height: 40vw;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 1.3vw;
    font-family: 'Sawarabi Mincho', sans-serif;
}

.twi,.ins,.git{
    position: absolute;
    bottom: 20px;
    height: 45px;
    width: 45px;
}
.twi{
    right: 170px;
}
.ins{
    right: 100px;
}
.git{
    right: 30px;
}

.bot_tm{
    font-size: 3vw;
    font-family: 'Special Elite', cursive;
    margin-top: 70px;
}
.li{
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-size: 1.2vw;
}
a{
    text-decoration: none;
    color: white;
}
.my{
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-size: 1.6vw;
}
.bot_tm,.bot_det{
    text-align:center;
}
.tel{
    font-size: 1.5vw;
}
.adr{
    margin-top: 1000px;
}
.scroll-top {
    position: fixed;
    right: 0px;
    bottom: 10px;
    z-index: 100;
    background-color: #999;
    opacity: .8;
    border: none;
    color: #fff;
  }
.scroll-top:hover {
    cursor: pointer;
}
.bot_top{
    height: 60px;
    width: 60px;
    position: relative;
    left: 48%;
    cursor: pointer;
}
.border{
    position: relative;
    top:40px
}

.bot1:hover,.bot2:hover,.bot3:hover,.bot4:hover{
    color: black;
    text-decoration: underline;
}

@media(max-width:950px){
    .global-nav {
        position: fixed;
        right: -320px; /* これで隠れる */
        top: 0;
        width: 250px; /* スマホに収まるくらい */
        height: 100vh;
        padding-top: 100px;
        background-color: #fff;
        transition: all .6s;
        z-index: 200;
      }
      .hamburger {
        position: absolute;
        right: 0;
        top: 0;
        width: 60px; /* クリックしやすいようにちゃんと幅を指定する */
        height: 60px; /* クリックしやすいようにちゃんと高さを指定する */
        z-index: 300;
      }
      .global-nav__list {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      .global-nav__item {
        text-align: center;
        padding: 0 14px;
      }
      .global-nav__item a {
        display: block;
        padding: 8px 0;
        border-bottom: 1px solid #eee;
        text-decoration: none;
        color: #111;
        font-family: 'Linden Hill', serif;
      }
      .hamburger__line {
        position: absolute;
        left: 15px;
        width: 30px;
        height: 1px;
        background-color: rgb(163, 163, 163);
        transition: all .6s;
      }
      .hamburger__line--1 {
        top: 21px;
      }
      .hamburger__line--2 {
        top: 31px;
      }
      .hamburger__line--3 {
        top: 41px;
      }
      .black-bg {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        background-color: #000;
        opacity: 0;
        visibility: hidden;
        transition: all .6s;
        cursor: pointer;
      }
      /* 表示された時用のCSS */
      .nav-open .global-nav {
        right: 0;
      }
      .nav-open .black-bg {
        opacity: .8;
        visibility: visible;
      }
      .nav-open .hamburger__line--1 {
        transform: rotate(45deg);
        top: 30px;
        background-color: black;
      }
      .nav-open .hamburger__line--2 {
        width: 0;
        left: 50%;
      }
      .nav-open .hamburger__line--3 {
        transform: rotate(-45deg);
        top: 30px;
        background-color:black;
      }
      .g2{
            background-color:rgba(0, 0, 0, 0.623);
      }
      .g2 a{
          color: white;
          border-bottom: none;
      }

      body{
        height: 2100px;
        top: 60px;
    }

      .menu{
        display: none;
        }

        .title{font-size: 10vw;}
        .bottom{height: 350px;}
        .bot_top{
            height: 30px;
            width: 30px;
            top:20px;
        }

        .bot_tm{margin-top:40px;}

    .my{
        position: relative;
        top:20px;
    }
    .twi,.ins,.git{
        height: 30px;
        width: 30px;
    }

    .scroll-top{
        height: 40px;
        width: 140px;
    }

    .twi{right: 115px;}
    .ins{right: 70px;}
    .git{right: 25px;}
    #header{
        height: 60px;
    }
    .logo{
        top:0px;
    }
    .li{position: relative;
        top: 30px;}

}
@media(min-width:950px){
    .smart_var{
        display: none;
    }
}