p>a{
    text-decoration: none;
    color: white;
}

.main{
    text-align: center;
    font-size: 100px;
    line-height: 147px;
    font-family: 'Allura', cursive;
    color: #0000009f;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top:180px;
}
.logo{
  text-align: left;
  font-family: 'Cabin Sketch', cursive;
  font-size: 30px;
  color: white;
  position: absolute;
  top: -10px;
  left: 80px;
}
.logo_img{
  height: 46px;
  width: auto;
  padding: 12px;
}

#header {
    background-color: black;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
}
/*---------------ここから------------------*/
.menu1,.menu2,.menu3,.menu4{
    margin: auto;
    font-size: 24px;
    font-family: 'Linden Hill', serif;
    text-decoration:none;
    padding: 23px 35px 15px 35px;
}
.menu1{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0px;
    right: 368px;
}
.menu2{
    color: white;
    position: absolute;
    top: 0px;
    right: 250px;
}
.menu3{
    color: white;
    position: absolute;
    top: 0px;
    right: 117px;
}
.menu4{
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
}
.menu1:hover,.menu2:hover,.menu3:hover,.menu4:hover{
    font-weight: 500;
    text-decoration: underline;
}
.menu1:hover,.menu2:hover,.menu3:hover,.menu4:hover{
    background-color: #eee;
    color: black;
}

/*------------ここまで------------------*/
body{
    background-image:url("./bg.png");
    background-size: cover;
    margin: auto;
}
.arrow_d{
    text-align: center;
    margin-top: 50px;
}
.arrow{
    margin-top: auto;
    opacity: 0.8;
}
.swipe{
    font-size: 42px;
    text-align: center;
    margin-top:40px;
    color: #0000009f;
    font-family: 'Allura', cursive;
}
html{
    overflow: auto;
}
body{
    overflow: hidden;
    margin: auto;
    height: 788px;
}

/* header>a{
    position: relative;
    color: white;
    margin: auto;
    font-size: 24px;
    font-family: 'Linden Hill', serif;
    text-decoration: none;
    line-height: 20px;
    height: 70px;
}
.menu1{
    text-align:center;
    left: 65%;
    top: -65px;
    width:10%;
}

.menu2{
    left: 74%;
    top: -89px;
    width:10%;
}
.menu3{
    left: 83%;
    top: -113px;
    width:40%;
}
.menu4{
    left: 92%;
    top: -137px;
    width:40%;
}
こんな感じで書き換えられるらしい */

@media(max-width:768px){
    .menu{
        display: none;
    }
    .global-nav {
        position: fixed;
        right: -320px; /* これで隠れる */
        top: 0;
        width: 250px; /* スマホに収まるくらい */
        height: 100vh;
        padding-top: 100px;
        background-color: #fff;
        transition: all .6s;
        z-index: 200;
      }
      .hamburger {
        position: absolute;
        right: 0;
        top: 0;
        width: 60px; /* クリックしやすいようにちゃんと幅を指定する */
        height: 60px; /* クリックしやすいようにちゃんと高さを指定する */
        z-index: 300;
      }
      .global-nav__list {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      .global-nav__item {
        text-align: center;
        padding: 0 14px;
      }
      .global-nav__item a {
        display: block;
        padding: 8px 0;
        border-bottom: 1px solid #eee;
        text-decoration: none;
        color: #111;
        font-family: 'Linden Hill', serif;
      }
      .hamburger__line {
        position: absolute;
        left: 15px;
        width: 30px;
        height: 1px;
        background-color: rgb(255, 255, 255);
        transition: all .6s;
      }
      .hamburger__line--1 {
        top: 21px;
      }
      .hamburger__line--2 {
        top: 31px;
      }
      .hamburger__line--3 {
        top: 41px;
      }
      .black-bg {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        background-color: #000;
        opacity: 0;
        visibility: hidden;
        transition: all .6s;
        cursor: pointer;
      }
      /* 表示された時用のCSS */
      .nav-open .global-nav {
        right: 0;
      }
      .nav-open .black-bg {
        opacity: .8;
        visibility: visible;
      }
      .nav-open .hamburger__line--1 {
        transform: rotate(45deg);
        top: 30px;
        background-color: black;
      }
      .nav-open .hamburger__line--2 {
        width: 0;
        left: 50%;
      }
      .nav-open .hamburger__line--3 {
        transform: rotate(-45deg);
        top: 30px;
        background-color:black;
      }
      #header{
        height: 60px;
    }
    .logo{
        top:0px;
    }
    .main{
        z-index: 0;
    }
}

@media(min-width:768px){
    .smart_var{
        display: none;
    }
}