.title{
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 64px;
}
.menu1{
    text-align:center;
    position: relative;
    left: 65%;
    top: -65px;
    color: white;
    width:10%;
    height: 70px;
    margin: auto;
    font-size: 24px;
    line-height: 20px;
    font-family: 'Linden Hill', serif;
    text-decoration:none;
}

.menu2{
    position: relative;
    left: 74%;
    top: -89px;
    color: white;
    width:10%;
    height: 70px;
    margin: auto;
    font-size: 24px;
    line-height: 20px;
    font-family: 'Linden Hill', serif;
    text-decoration:none;
}
.menu3{
    position: relative;
    left: 83%;
    top: -113px;
    color: white;
    width:40%;
    height: 70px;
    margin: auto;
    font-size: 24px;
    line-height: 20px;
    font-family: 'Linden Hill', serif;
    text-decoration:none;
}
.menu4{
    position: relative;
    left: 92%;
    top: -137px;
    color: white;
    width:40%;
    height: 70px;
    margin: auto;
    font-size: 24px;
    line-height: 20px;
    font-family: 'Linden Hill', serif;
    text-decoration:none;
}
.head{
    background-color: black;
    position: relative;
    width: 102%;
    height: 70px;
    left: -8px;
    top: -16px;
}
.logo{
    text-align: left;
    font-family: 'Cabin Sketch', cursive;
    font-size: 30px;
    color: white;
    margin-top: 16px;
    margin-left: 50px;
    position: relative;
    top: 16px;
    left: auto;
}
body{
    margin: auto;
}
html{
    overflow: auto;
}
body{
    overflow: hidden;
    margin: auto;
    height: auto;
}
main>div>div{
    width: 400px;
    height: 160px;
    border-radius: 50%;
    filter: blur(150px);
    background-color: rgb(63, 63, 63);
    position: relative;
}
.circle1{
    top: 150px;
    left: 25%;
    background-color: crimson;
}
.circle2{
    top: 50px;
    left: 45%;
}
.circle3{
    top: 500px;
    left: 25%;
}
.circle4{
    top: 400px;
    left: 45%;
}
.circle5{
    top: 500px;
    left: 25%;
}
.circle6{
    top: 500px;
    left: 45%;
}
.main{
    position: relative;
    bottom: 120px;
    font-size: 2vw;
    color: white;
    text-align: center;
    font-family: 'Rock Salt', cursive;
}