.body{
    background-image: url(../../page1/css/bg.png);
}
.menu1{
    text-align:center;
    position: relative;
    left: 65%;
    top: -65px;
    color: white;
    width:10%;
    height: 70px;
    margin: auto;
    font-size: 24px;
    line-height: 20px;
    font-family: 'Linden Hill', serif;
    text-decoration:none;
}

.menu2{
    position: relative;
    left: 74%;
    top: -89px;
    color: white;
    width:10%;
    height: 70px;
    margin: auto;
    font-size: 24px;
    line-height: 20px;
    font-family: 'Linden Hill', serif;
    text-decoration:none;
}
.menu3{
    position: relative;
    left: 83%;
    top: -113px;
    color: white;
    width:40%;
    height: 70px;
    margin: auto;
    font-size: 24px;
    line-height: 20px;
    font-family: 'Linden Hill', serif;
    text-decoration:none;
}
.menu4{
    position: relative;
    left: 92%;
    top: -137px;
    color: white;
    width:40%;
    height: 70px;
    margin: auto;
    font-size: 24px;
    line-height: 20px;
    font-family: 'Linden Hill', serif;
    text-decoration:none;
}
.head{
    background-color: black;
    position: relative;
    width: 102%;
    height: 70px;
    left: -8px;
    top: -16px;
}
.logo{
    text-align: left;
    font-family: 'Cabin Sketch', cursive;
    font-size: 30px;
    color: white;
    margin-top: 16px;
    margin-left: 50px;
    position: relative;
    top: 16px;
    left: auto;
}
.title{
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 64px;
}
body{
    margin: auto;
}
.qa{
    font-family: 'Rock Salt', cursive;
    text-align: center;
    font-size: 2vw;
    position: relative;
    top: 110px;
}
.mail{
    font-family: 'Rock Salt', cursive;
    text-align: center;
    font-size: 2vw;
    position: relative;
    top: 170px;
}
.ins_img{
    position: relative;
    top: 435px;
    left: 16%;
}
.ins_char{
    font-size: 1.5vw;
    font-family: 'Rock Salt', cursive;
    position: relative;
    top: 410px;
    left: 18%;
    text-decoration: none;
    color: black;
}
.twi_img{
    position: relative;
    top: 435px;
    left: 26%;
}
.twi_char{
    font-size: 1.5vw;
    font-family: 'Rock Salt', cursive;
    position: relative;
    top: 410px;
    left: 28%;
    text-decoration: none;
    color: black;
}
.git_img{
    position: relative;
    top: 455px;
    left: 36%;
}
.git_char{
    font-size: 1.5vw;
    font-family: 'Rock Salt', cursive;
    position: relative;
    top: 410px;
    left: 37%;
    text-decoration: none;
    color: black;
}
.qii_img{
    position: relative;
    top: 650px;
    left: -27%;
    margin-bottom: 70px;
}
.qii_char{
    font-size: 1.5vw;
    font-family: 'Rock Salt', cursive;
    position: relative;
    top: 555px;
    left: -26%;
    text-decoration: none;
    color: black;
}
html{
    overflow: auto;
}
body{
    overflow: hidden;
    margin: auto;
    height: 1400px;
}