.title{
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 64px;
}

.p1{
    font-size: 1.5vw;
    text-align: center;
    letter-spacing: 0.45em;
    font-family: 'Cabin Sketch', cursive;
    line-height: 0px;
    position: relative;
    top:370px;
}
.p2{
    font-size: 2.5vw;
    text-align: center;
    letter-spacing: 0.45em;
    font-family: 'Cabin Sketch', cursive;
    line-height: 0px;
    position: relative;
    top:370px;
}
.p3{
    font-size: 3.5vw;
    text-align: center;
    letter-spacing: 0.45em;
    font-family: 'Cabin Sketch', cursive;
    line-height: 0px;
    position: relative;
    top:370px;
}
.p4{
    font-size: 4.5vw;
    text-align: center;
    letter-spacing: 0.45em;
    font-family: 'Cabin Sketch', cursive;
    line-height: 0px;
    position: relative;
    top:370px;
}

.head-animation {
    transform: translateY(-100%);
}
#header {
    background-color: black;
    height: 70px;
    position: fixed;
    top: 0;
    transition: .3s cubic-bezier(.4, 0, .2, 1);
    width: 100%;
    z-index: 199999;
}

.menu1,.menu2,.menu3,.menu4{
    margin: auto;
    font-size: 24px;
    font-family: 'Linden Hill', serif;
    text-decoration:none;
    padding: 23px 35px 15px 35px;
}
.menu1{
    color: rgb(0, 0, 0);
    background-color: white;
    position: absolute;
    top: 0px;
    right: 368px;
}
.menu2{
    color: white;
    position: absolute;
    top: 0px;
    right: 250px;
}
.menu3{
    color: white;
    position: absolute;
    top: 0px;
    right: 117px;
}
.menu4{
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
}
.menu1:hover,.menu2:hover,.menu3:hover,.menu4:hover{
    font-weight: 500;
    text-decoration: underline;
}
.menu2:hover,.menu3:hover,.menu4:hover{
    background-color: #eee;
    color: black;
}

.logo{
    text-align: left;
    font-family: 'Cabin Sketch', cursive;
    font-size: 30px;
    color: white;
    margin-top: 16px;
    margin-left: 50px;
    position: relative;
    top: 6px;
    left: auto;
    width: 300px;
    margin-right: 0px;
}

.box1,.box2{
    position: relative;
    height: 650px;
    border: 18px solid #cacaca;
    filter: blur(18px);
    width: auto;
}
.box1{
    background: rgba(221, 255, 177, 0.2);
    top: -210px;
    right: 70%;
}
.box2{
    background: rgba(146, 255, 229, 0.1);
    top: -1700px;
    left: 70%;
}

.detail1,.detail2{
    margin: auto;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Rock Salt', cursive;
    width: 28%;
    height: 800px;
    position: relative;
}
.detail1{
    top: -850px;
    left:-37%;
}
.detail2{
    top: -2300px;
    left: 37%;
}

html{
    overflow: auto;
}

body{
    overflow: hidden;
    margin: auto;
    height: 145vw;
    position: relative;
    top:70px;
}

.ghost{
    position: absolute;
    top: 450px;
    right: -100px;
}

.tm{
    color: rgba(0, 0, 0, 0.04);
    font-size: 15vw;
    font-family: 'Special Elite', cursive;
    text-align: center;
    position: absolute;
    bottom: 48vw;
    transform: rotate(3.36deg);
}

.pro{
    position: relative;
    top: -150px;
}

.bottom{
    background-color: #d6d6d6;
    position: absolute;
    bottom: 0px;
    height: 44vw;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 1.3vw;
    font-family: 'Sawarabi Mincho', sans-serif;
}

.twi,.ins,.git{
    position: absolute;
    bottom: 20px;
    height: 45px;
    width: 45px;
}
.twi{
    right: 170px;
}
.ins{
    right: 100px;
}
.git{
    right: 30px;
}

.bot_tm{
    font-size: 3vw;
    font-family: 'Special Elite', cursive;
    margin-top: 70px;
}
.li{
    position: absolute;
    left: 46.5%;
    font-family: 'Rock Salt', cursive;
    font-size: 1.2vw;
}
a{
    text-decoration: none;
    color: white;
}
.my{
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-size: 1.6vw;
}
.bot_tm,.bot_det{
    text-align:center;
}
.tel{
    font-size: 1.5vw;
}
.adr{
    margin-top: 1000px;
}
.scroll-top {
    position: fixed;
    right: 0px;
    bottom: 10px;
    z-index: 100;
    background-color: #999;
    opacity: .8;
    border: none;
    color: #fff;
  }
  .scroll-top:hover {
    cursor: pointer;
  }
.bot_top{
    height: 60px;
    width: 60px;
    position: relative;
    left: 48%;
}
.border{
    position: relative;
    top:40px
}

.bot1:hover,.bot2:hover,.bot3:hover,.bot4:hover{
    color: black;
    text-decoration: underline;
}

@media(min-width:1400px){
    body{height: 130vw;}
}


@media(min-width:2200px){
    .box1,.box2{
        height: 1000px;
    }
    .box1{
        top:-300px;
    }
    .box2{
        top:-2150px;
    }
    .detail1{
        top:-1200px;
    }
    .detail2{
        top:-3000px;
    }
    .pro{
        top: -50px;
    }
    body{
        height:130vw;
    }
    .ghost{
        top:900px;
    }
}

@media(min-width:1400px){
    .ghost{
        top:550px;
    }
}


@media(max-width:950px){

    .global-nav {
        position: fixed;
        right: -320px; /* これで隠れる */
        top: 0;
        width: 250px; /* スマホに収まるくらい */
        height: 100vh;
        padding-top: 100px;
        background-color: #fff;
        transition: all .6s;
        z-index: 200;
      }
      .hamburger {
        position: absolute;
        right: 0;
        top: 0;
        width: 60px; /* クリックしやすいようにちゃんと幅を指定する */
        height: 60px; /* クリックしやすいようにちゃんと高さを指定する */
        z-index: 300;
      }
      .global-nav__list {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      .global-nav__item {
        text-align: center;
        padding: 0 14px;
      }
      .global-nav__item a {
        display: block;
        padding: 8px 0;
        border-bottom: 1px solid #eee;
        text-decoration: none;
        color: #111;
        font-family: 'Linden Hill', serif;
      }
      .hamburger__line {
        position: absolute;
        left: 15px;
        width: 30px;
        height: 1px;
        background-color: rgb(255, 255, 255);
        transition: all .6s;
      }
      .hamburger__line--1 {
        top: 21px;
      }
      .hamburger__line--2 {
        top: 31px;
      }
      .hamburger__line--3 {
        top: 41px;
      }
      .black-bg {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        background-color: #000;
        opacity: 0;
        visibility: hidden;
        transition: all .6s;
        cursor: pointer;
      }
      /* 表示された時用のCSS */
      .nav-open .global-nav {
        right: 0;
      }
      .nav-open .black-bg {
        opacity: .8;
        visibility: visible;
      }
      .nav-open .hamburger__line--1 {
        transform: rotate(45deg);
        top: 30px;
        background-color: black;
      }
      .nav-open .hamburger__line--2 {
        width: 0;
        left: 50%;
      }
      .nav-open .hamburger__line--3 {
        transform: rotate(-45deg);
        top: 30px;
        background-color:black;
      }
      .g1{
            background-color:rgba(0, 0, 0, 0.623);
      }
      .g1 a{
          color: white;
          border-bottom: none;
      }

    #header{
        height: 60px;
    }
    .logo{
        top:0px;
    }
    .pro{
        top:-300px;
    }
    .box1,.box2{
        height: 400px;
    }
    .box1{
        right: 60%;
        top: 160px;
    }
    .box2{
        left: 60%;
        top: -1090px;
    }
    .detail1{
        top: -200px;
        left: -32%;
    }
    .detail2{
        top: -1400px;
        left: 32%;
    }
    body{
        height: 1400px;
        top: 60px;
    }
    .tm{
        top:65%;
    }
    .ghost{
        top: 600px;
    }

      .menu{
        display: none;
        }

        .ghost{
            height: 100px;
            width: 100px;
            position: absolute;
            right: -40px;
        }
        .title{font-size: 10vw;}
        .bottom{height: 350px;}
        .bot_top{
            height: 30px;
            width: 30px;
            top:20px;
        }

        .bot_tm{margin-top:40px;}

    .li{
        left: 41%;
        position: relative;
        top: 20px;
    }
    .my{
        position: relative;
        top:20px;
    }
    .twi,.ins,.git{
        height: 30px;
        width: 30px;
    }

    .scroll-top{
        height: 40px;
        width: 140px;
    }

    .twi{right: 115px;}
    .ins{right: 70px;}
    .git{right: 25px;}

}

@media(min-width:950px){
    .smart_var{
        display: none;
    }
}